
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us" id="lock-page">
<head>
    <meta charset="utf-8">
    <title> Murat</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/demo.min.css">

    <!-- page related CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/admin/css/lockscreen.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/admin/img/favicon/favicon.ico" type="image/x-icon">


    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/admin/img/splash/touch-icon-ipad-retina.png">


    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/admin/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/admin/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/admin/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>


<body>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->

        <form class="lockscreen animated flipInY" method="post" action="">
            <div class="logo">
                <h1 class="semi-bold text-center">
                    <img style="width: 80px !important;" src="~/admin/img/gnkur.png" width="75 px" alt="" />
                    Murat Yazılım Geliştirme
                    <img style="width: 80px !important;" src="~/admin/img/gnkur.png" width="75 px" alt="" />
                </h1>
            </div>
            <div>


                <h1 class="semi-bold"><img src="~/admin/img/logo-o.png" width="35 px" alt="" /> Yazılım Giriş </h1>

                <div class="input-group text-center col-lg-12 padding-bottom-5">
                  
                        <input class="form-control margin-bottom-5" name="Kadi" type="text" placeholder="T.C. Kimlik Numarası">
                
                    <input class="form-control margin-bottom-5" name="Ksifre" type="password" placeholder="Şifreniz">

                    <button class="btn btn-primary btn-block" type="submit">
                        <i class="fa fa-key"></i>
                    </button>

                </div>

                <p class="no-margin margin-top-5">
                    <a class="pull-left btn btn-success btn-xs" onclick="alarm()" href="#">Şifrenimi Unuttum? </a>
                    
                    <a class="pull-right btn btn-success btn-xs" onclick="" data-toggle="modal" data-target="#registerModal">Yeni Hesap Oluştur </a>
                </p>




            </div>
            <p class="font-xs margin-top-5">
                İrtibat: Murat Yazılım<br>Çanakkale 2024

            </p>
        </form>

    </div>
    
    <!-- _registerModal -->
    @await Html.PartialAsync("_modalsPartials/_registerModal")
    <!-- /.modal -->


    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="~/admin/js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>'); }</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>'); }</script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/admin/js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="~/admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/admin/js/app.min.js"></script>
    <script>
        function alarm() {
            alert("Bölge Yetkiliniz İle İletişime Geçebilirsiniz");
        }
    </script>
</body>
</html>
